.search__bar {
    width: 45%;
    border: 1px solid #333;
    border-radius: 7px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: transparent;
    height: 4rem;
    font-size: 1rem;
    
   
}