@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200&family=Roboto+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conatiner {
    padding:1rem ;
    background-color: #ddd;
    height: 100vh;

}

.header__container {
    color: rgb(151, 68, 68);
    font-family: 'Abril Fatface', cursive;
    background-color: #eee;
    padding: 2rem;
    margin-bottom:1rem;
    border:1px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header__container p {
    color: #333;
    margin-top: 0.5rem;
    font-family: 'Roboto Mono';
}

