@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200&family=Roboto+Mono:wght@200&display=swap');

.products__list__container {
    width: 80%;
    padding: 1.5rem;
    font-family: 'Roboto Mono',sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}



.add__products__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    button{
        background:transparent;
        border: none;
        text-decoration: none;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }

}




